{% extends 'base.html.twig' %}

{% block title %}Tous les événements{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Liste de tous les événements</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Atomisator/Documents/cours/symfony/beerTime/src/Controller/EventController.php'|file_link(0) }}">src/Controller/EventController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Atomisator/Documents/cours/symfony/beerTime/templates/event/index.html.twig'|file_link(0) }}">templates/event/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
