{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} buvons mes braves !{% endblock %}

{% block body %}

<div class="d-flex justify-content-center">

    <img src="{{ asset('asset/image/icon_beer.png') }}" alt="binouze"> 
    <h1>Beer Time - "Have a great bière"</h1> 
    <img src="{{ asset('asset/image/icon_beer.png') }}" alt="binouze">

</div>
{% endblock %}
